@import 'src/departureboard/css/departure-board.css';
@import 'src/mobilecheckbox/mobilecheckbox.css';
div.credits {
  margin: 5px 10px;
}
.smallCredits div.credits {
  font-size: smaller;
}
@media (max-width: 1024px) {
  div.credits {
    font-size: smaller;
  }
}
@media screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) {
  div.credits {
    font-size: smaller;
  }
}
.tooltip {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-position: under;
}
[tooltip] {
  position: relative;
  display: inline-block;
}
[tooltip]::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 4px 6px 0 6px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  z-index: 9999;
  opacity: 0;
}
[tooltip-position='left']::before {
  left: 0%;
  top: 50%;
  margin-left: -12px;
  transform: translatey(-50%) rotate(-90deg);
}
[tooltip-position='top']::before {
  left: 50%;
}
[tooltip-position='bottom']::before {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg);
}
[tooltip-position='right']::before {
  left: 100%;
  top: 50%;
  margin-left: 1px;
  transform: translatey(-50%) rotate(90deg);
}
[tooltip]::after {
  content: attr(tooltip);
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%) translateY(-100%);
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  color: #fff;
  padding: 4px 2px;
  font-size: 12px;
  min-width: 80px;
  border-radius: 5px;
  pointer-events: none;
  padding: 4px 4px;
  z-index: 9999;
  width: 100%;
  min-width: 200px;
  opacity: 0;
}
[tooltip-position='left']::after {
  left: 0%;
  top: 50%;
  margin-left: -8px;
  transform: translateX(-100%) translateY(-50%);
}
[tooltip-position='top']::after {
  left: 50%;
}
[tooltip-position='bottom']::after {
  top: 100%;
  margin-top: 8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after {
  left: 100%;
  top: 50%;
  margin-left: 8px;
  transform: translateX(0%) translateY(-50%);
}
[tooltip]:hover::after,
[tooltip]:hover::before {
  opacity: 1;
}
div.blahContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: calc(100% - 30px);
}
div.blahContainer div.blah {
  height: 90px;
  width: 100%;
  margin-bottom: 5px;
}
.smallerContainer div.blahContainer div.blah {
  height: 40px;
  overflow-y: scroll;
}
.smallContainerAndNoButton div.blahContainer div.blah {
  height: 60px;
  overflow-y: scroll;
}
.smallContainerAndNoButton div.blahContainer button {
  display: none;
}
@media (max-width: 1024px) {
  div.blahContainer div.blah {
    height: 40px;
    overflow-y: scroll;
  }
}
@media screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  div.blahContainer div.blah {
    height: 40px;
    overflow-y: scroll;
  }
}
@media (max-width: 640px) {
  div.blahContainer div.blah {
    height: 60px;
    overflow-y: scroll;
  }
  div.blahContainer button {
    display: none;
  }
}
@media screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  div.blahContainer div.blah {
    height: 60px;
    overflow-y: scroll;
  }
  div.blahContainer button {
    display: none;
  }
}
body {
  font-family: Arial;
  background-color: #555;
  color: white;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100vw;
}
.column {
  display: flex;
  flex-direction: row;
  height: calc(100% - 230px);
  width: 100%;
}
.column > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.column .map,
.column #map {
  flex: 1;
  height: calc(100% - 25px);
  width: 48vw;
  border: 1px solid #aaa;
  margin: 0px 10px;
}
.column .info,
.column #info {
  font-size: large;
  margin: 0px 10px;
  align-self: middle;
  font-family: 'Courier New', Courier, monospace;
}
.strikethru {
  text-decoration: line-through;
}
.col-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col-2 ul {
  flex: 1;
}
.rectangle {
  width: 16px;
  height: 16px;
  border: solid 1px gray;
  display: inline-block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.rectangle.alpha {
  opacity: 0.7;
}
.rectangle.big {
  width: 32px;
  height: 32px;
  border: solid 1px gray;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
ul {
  margin-top: 3px;
}
.leaflet-container {
  background: black;
  outline: 0;
}
div.form {
  margin-right: 5px;
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  align-items: center;
}
div.form span {
  padding: 5px;
}
div.departureboard {
  height: 40px;
  margin: 10px;
  max-width: 83%;
  overflow: hidden;
}
.mapToggler {
  display: none;
}
.smallLandscape .column {
  height: calc(100% - 200px);
}
.smallLandscape .column .map,
.smallLandscape .column #map {
  width: 47vw;
}
@media (max-width: 1024px) {
  .column {
    height: calc(100% - 200px);
  }
  .column .map,
  .column #map {
    width: 47vw;
  }
}
@media screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .column {
    height: calc(100% - 200px);
  }
  .column .map,
  .column #map {
    width: 47vw;
  }
}
.portrait div.departureboard {
  max-width: 62%;
}
.portrait .mapToggler {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
  height: 40px;
}
.portrait .mapToggler .info {
  font-size: large;
  margin: 0px 10px;
  align-self: middle;
  border: 1px solid grey;
  padding: 5px;
}
.portrait .mapToggler .info:focus {
  outline: green auto 5px;
}
.portrait .column {
  display: flex;
  flex-direction: column;
  height: calc(100% - 240px);
}
.portrait .column > div {
  height: 70vh;
}
.portrait .column .map,
.portrait .column #map {
  width: 96%;
}
.portrait .column .map .leaflet-control,
.portrait .column #map .leaflet-control {
  display: none;
}
.portrait .column .info,
.portrait .column #info {
  height: 24px;
  display: none;
}
@media (max-width: 640px) {
  div.departureboard {
    max-width: 62%;
  }
  .mapToggler {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    height: 40px;
  }
  .mapToggler .info {
    font-size: large;
    margin: 0px 10px;
    align-self: middle;
    border: 1px solid grey;
    padding: 5px;
  }
  .mapToggler .info:focus {
    outline: green auto 5px;
  }
  .column {
    display: flex;
    flex-direction: column;
    height: calc(100% - 240px);
  }
  .column > div {
    height: 70vh;
  }
  .column .map,
  .column #map {
    width: 96%;
  }
  .column .map .leaflet-control,
  .column #map .leaflet-control {
    display: none;
  }
  .column .info,
  .column #info {
    height: 24px;
    display: none;
  }
}
@media screen and (device-width: 360px) and (device-height: 780px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  div.departureboard {
    max-width: 62%;
  }
  .mapToggler {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    height: 40px;
  }
  .mapToggler .info {
    font-size: large;
    margin: 0px 10px;
    align-self: middle;
    border: 1px solid grey;
    padding: 5px;
  }
  .mapToggler .info:focus {
    outline: green auto 5px;
  }
  .column {
    display: flex;
    flex-direction: column;
    height: calc(100% - 240px);
  }
  .column > div {
    height: 70vh;
  }
  .column .map,
  .column #map {
    width: 96%;
  }
  .column .map .leaflet-control,
  .column #map .leaflet-control {
    display: none;
  }
  .column .info,
  .column #info {
    height: 24px;
    display: none;
  }
}
