div.blahContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  width: calc(100% - 30px);

  div.blah {
    height: 90px;
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (max-width: 1024px) {
  div.blahContainer {
    div.blah {
      height: 40px;
      overflow-y: scroll;
    }
  }
}

@media (max-width: 640px) {
  div.blahContainer {
    div.blah {
      height: 60px;
      overflow-y: scroll;
    }
    button {
      display: none;
    }
  }
}
